.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


@media screen and (max-width: 726px) {
  .footer__links {
    margin-bottom: 48px;
  }
}


@media screen and (max-width: 512px) {
  .footer__links {
    padding: 0;
    flex-direction: column;
  }
}