.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__links li {
  margin-right: 18px;
  list-style: none;
}

.footer__links li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 726px) {
  .footer__links {
    margin-bottom: 48px;
  }
}


@media screen and (max-width: 512px) {
  .footer__links {
    padding: 0;
    flex-direction: column;
  }

  .footer__links li {
    margin: 0 0 32px 0;
  }

  .footer__links li:last-child {
    margin: 0;
  }
}