.intro {
  max-width: calc(984px + 48px*2);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 420px) {
  .intro {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}